<div id="container">
  <img src="../../assets/logo.png" id="logo">
  <h4>لوحة تحكم تطبيق صيدليتي</h4>
  <hr class="hrLine">

  <ul class="list-group">
    
      <hr class="hrListLine">
      <li routerLink="/home" routerLinkActive="liActive">
        <img src="../../assets/home.png">
        <h5>الرئيسية</h5>
      </li>
      <hr class="hrListLine">

      
      <li routerLink="/posts" routerLinkActive="liActive">
        <img src="../../assets/posts.png">
        <h5>المنشورات</h5>
      </li>
      <hr class="hrListLine">

  </ul>
</div>